{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" style= "margin-top: 75px;">
  <div class="jumbotron text-center jumbo-container" background-size: cover;>
    <img src="{{ MEDIA_URL }}skateshack2.png" alt="SkateShack2" style="max-width: 100%; height: auto;">
<!-- info on the company -->
    <h1><strong>Skate</strong>Shack</h1>
    <p>Your one stop shop for all your skateboarding needs. Whether you are a total beginner looking for your first skateboard or an experienced skater looking for some hardware or parts we will have something for you. Take a look around our online store:</p>
    <p><a class="btn btn-primary btn-lg shop-now-button" href="{% url 'products' %}" role="button">Shop Now</a></p>
    <img src="{{ MEDIA_URL }}skateshack.png" alt="SkateShack" style="max-width: 100%; height: auto;">

  </div>
</div>
{% endblock %}