<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="completes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Complete Skateboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="completes-link">
                <a href="{% url 'products' %}?category=completes" class="dropdown-item">Beginner</a>
                <a href="{% url 'products' %}?category=completes" class="dropdown-item">Intermediate</a>
                <a href="{% url 'products' %}?category=completes" class="dropdown-item">Pro</a>
                <a href="{% url 'products' %}?category=completes" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hardware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hardware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hardware-link">
                <a href="{% url 'products' %}?category=trucks" class="dropdown-item">Trucks</a>
                <a href="{% url 'products' %}?category=wheels" class="dropdown-item">Wheels and Bearings</a>
                <a href="{% url 'products' %}?category=wheels,trucks" class="dropdown-item">All Hardware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>